[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dataSDA"]
	path = dataSDA
	url = https://github.com/hanmingwu1103/datasda
[submodule "dtGAP"]
	path = dtGAP
	url = https://github.com/hanmingwu1103/dtgap
[submodule "ggInterval"]
	path = ggInterval
	url = https://github.com/hanmingwu1103/gginterval
